{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
<!-- Header -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <i class="bi bi-telephone-fill"></i> (210) 999-9786 Call Today
      <i class="bi bi-calendar2-week-fill ms-4"></i> Monday-Sunday 24h Emergency Service
    </div>
    <a href="{% url 'contact' %}" class="btn btn-primary">SCHEDULE AN APPOINTMENT</a>
  </div>

  <div class="container d-flex align-items-center justify-content-center mt-3">
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="{% url 'index' %}#hero">Home</a></li>
        <li class="dropdown">
          <a href="{% url 'services' %}">Services</a>
        </li>
        <li><a class="nav-link scrollto" href="{% url 'MaintenanceandRepair' %}">Maintenance and Repair</a></li>
        <li><a class="nav-link scrollto" href="{% url 'about' %}">About</a></li>
        <li><a class="nav-link scrollto active" href="{% url 'contact' %}">Contact</a></li>
      </ul>
    </nav><!-- .navbar -->
  </div>
</header><!-- End Header -->

<!-- Breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <h2>Maintenance and Repair</h2>
  </div>
</div>

<!-- Maintenance and Repair Section -->
<section id="MaintenanceandRepair" class="MaintenanceandRepair">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <ul class="list-group">
          <li class="list-group-item"><a href="{% url 'acinstallation' %}">A/C Installation</a></li>
          <li class="list-group-item"><a href="{% url 'antimicrobialfogging' %}">Anti-Microbial Fogging</a></li>
          <li class="list-group-item active"><a href="{% url 'MaintenanceandRepair' %}">Maintenance and Repair</a></li>
          <li class="list-group-item"><a href="{% url 'tuneup' %}">Tune-Up & Inspections</a></li>
        </ul>
      </div>
      <div class="col-lg-8">
        <h3>Maintenance and Repair</h3>
        <p>We provide technical support for clients to undertake routine maintenance with confidence. Specialist equipment maintenance can be carried out on a campaign basis, working with clients to effect maintenance system rationalization and cost savings. We respond quickly and efficiently to unexpected breakdowns that a client may incur, and have the ability to dispatch our service technicians to anywhere in the world.</p>
        <h4>Need a Repair?</h4>
        <p>Let’s face it — repairing or replacing your heater or air conditioner can be a very costly and frustrating process. It’s not something you do often, so you don’t have a lot of experience to draw from. You can ask a family member or friends...but it’s likely they have not had a recent experience with a job like yours.</p>
        <img src="{% static 'img/service-img.jpg' %}" class="img-fluid" alt="service image">
      </div>
    </div>
  </div>
</section><!-- End Maintenance and Repair Section -->

<!-- Footer -->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>JP Cooling and Heating TACLB136029E</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer><!-- End #footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>
