#hero {
  width: 100%;
  height: 75vh; /* Adjust the height as needed */
  background: url("../img/new-hero-background.jpg") no-repeat center center;
  background-size: cover; /* Ensure the image covers the entire section */
  position: relative;
  margin-bottom: -63px;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding-top: 80px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 300;
  line-height: 56px;
  color: #ff0000; /* red */
}
/* Mobile navigation styles */
@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }

  .navbar-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    overflow: auto;
    padding: 2em;
  }

  .navbar-mobile ul {
    display: flex;
    flex-direction: column;
  }

  .header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header .btn {
    margin-top: 10px;
  }

  .navbar ul {
    display: none; /* Hide the desktop menu */
  }
}
